apache-airflow[statsd]==3.0.0
airflow-provider-duckdb==0.1.0
apache-airflow-providers-postgres==5.13.1
apache-airflow-providers-common-sql==1.26.0
apache-airflow-providers-fab[common.compat]==2.0.2
apache-airflow-providers-apache-kafka==1.9.0